In [1]:
from biztax import Policy, BusinessModel, Response
import taxcalc as itax
import pandas as pd

In [2]:
itax_reform = {
    "II_rt1": {2018: 0.10},
    "II_rt2": {2018: 0.12},
    "II_rt3": {2018: 0.22},
    "II_rt4": {2018: 0.24},
    "II_rt5": {2018: 0.32},
    "II_rt6": {2018: 0.35},
    "II_rt7": {2018: 0.37},
    "II_brk1": {2018: [9525, 19050, 9525, 13600, 19050]},
    "II_brk2": {2018: [38700, 77400, 38700, 51800, 77400]},
    "II_brk3": {2018: [82500, 165000, 82500, 82500, 165000]},
    "II_brk4": {2018: [157500, 315000, 157500, 157500, 315000]},
    "II_brk5": {2018: [200000, 400000, 200000, 200000, 400000]},
    "II_brk6": {2018: [500000, 600000, 300000, 500000, 600000]},
    "PT_rt1": {2018: 0.10},
    "PT_rt2": {2018: 0.12},
    "PT_rt3": {2018: 0.22},
    "PT_rt4": {2018: 0.24},
    "PT_rt5": {2018: 0.32},
    "PT_rt6": {2018: 0.35},
    "PT_rt7": {2018: 0.37},
    "PT_brk1": {2018: [9525, 19050, 9525, 13600, 19050]},
    "PT_brk2": {2018: [38700, 77400, 38700, 51800, 77400]},
    "PT_brk3": {2018: [82500, 165000, 82500, 82500, 165000]},
    "PT_brk4": {2018: [157500, 315000, 157500, 157500, 315000]},
    "PT_brk5": {2018: [200000, 400000, 200000, 200000, 400000]},
    "PT_brk6": {2018: [500000, 600000, 300000, 500000, 600000]},
    "PT_qbid_rt": {2018: 0.2},
    "PT_qbid_taxinc_thd": {2018: [157500, 315000, 157500, 157500, 315000]},
    "PT_qbid_taxinc_gap": {2018: [50000, 100000, 50000, 50000, 100000]},
    "PT_qbid_w2_wages_rt": {2018: 0.5},
    "PT_qbid_alt_w2_wages_rt": {2018: 0.25},
    "PT_qbid_alt_property_rt": {2018: 0.025},
    "STD": {2018: [12000, 24000, 12000, 18000, 24000]},
    "II_em": {2018: 0},
    "ODC_c": {2018: 500},
    "CTC_c": {2018: 2000},
    "CTC_ps": {2018: [200000, 400000, 200000, 200000, 400000]},
    "ACTC_c": {2018: 1400,
               2022: 1500,
               2025: 1600},
    "ACTC_Income_thd": {2018: 2500},
    "AMT_em": {2018: [70300, 109400, 54700, 70300, 109400]},
    "AMT_em_ps": {2018: [500000, 1000000, 500000, 500000, 1000000]},
    "AMT_em_pe": {2018: 718800},
    "ALD_DomesticProduction_hc": {2018: 1},
    "ALD_AlimonyPaid_hc": {2019: 1},
    "ALD_AlimonyReceived_hc": {2019: 0},
    "ALD_BusinessLosses_c": {2018: [250000, 500000, 250000, 250000, 500000]},
    "ID_ps": {2018: [9e99, 9e99, 9e99, 9e99, 9e99]},
    "ID_prt": {2018: 0.00},
    "ID_crt": {2018: 1.0},
    "ID_Charity_crt_all": {2018: 0.6},
    "ID_Casualty_hc": {2018: 1},
    "ID_AllTaxes_c": {2018: [10000, 10000, 5000, 10000, 10000]},
    "ID_Miscellaneous_hc": {2018: 1},
    "ID_Medical_frt": {2017: 0.075,
                       2019: 0.100}
}

btax_reform_dict = {
    'tau_nc': {2025: 0.230259853},
    'tau_e': {2025: 0.090666182},
    'pymtc_hc': {2022: 0},
    'pymtc_refund': {2022: 1.0},
    'depr_3yr_bonus': {2022: 1.0},
    'depr_5yr_bonus': {2022: 1.0},
    'depr_7yr_bonus': {2022: 1.0},
    'depr_10yr_bonus': {2022: 1.0},
    'depr_15yr_bonus': {2022: 1.0},
    'depr_20yr_bonus': {2022: 1.0},
    'adjustedTaxInc_def': {2022: 1},
    'GILTI_inclusion': {2025: 0.5},
    'fdii_rt': {2025: 0.375}
}

In [3]:
# btax policy
btax_policy_reform = Policy()
btax_policy_reform.implement_reform(btax_reform_dict)

# iitax policy
itax_policy_reform = itax.Policy()
itax_policy_reform.implement_reform(itax_reform)

# no responses
BM = BusinessModel(btax_policy_reform, itax_policy_reform, investor_data='puf.csv')

CTC_c was redefined in release 1.0.0

/Users/petermetz/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/petermetz/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/petermetz/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Users/petermetz/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [4]:
BM.calc_all(response=None)
output_df = BM.model_results.round(3)

In [5]:
# NOTE: the ITax_change includes small effects from business tax reform. 
output_df.set_index('year').iloc[6:]

      CTax_change  ITax_change  AllTax_change
year
2020        0.000        0.000          0.000
2021        0.000        0.000          0.000
2022        0.000       -0.000         -0.000
2023      -17.617        0.975        -16.642
2024      -31.868        1.695        -30.172
2025      -14.723       -3.160        -17.883
2026      -24.157     -207.404       -231.561
2027      -32.003     -214.142       -246.145
2028      -18.306     -221.531       -239.837
2029       -7.826     -228.676       -236.502

In [6]:
# Distributional analysis 2026
# NOTE: Does not take into account business tax reform or behavioral responses
recs = itax.Records()
pol = itax.Policy()
calc1 = itax.Calculator(policy=pol, records=recs)

pol_ext = itax.Policy()
pol_ext.implement_reform(itax_reform)
calc2 = itax.Calculator(policy=pol_ext, records=recs)

cyr = 2026
calc1.advance_to_year(cyr)
calc1.calc_all()
calc2.advance_to_year(cyr)
calc2.calc_all()
dist_table1, dist_table2 = calc1.distribution_tables(calc2, 'weighted_deciles')
dist_diff = dist_table2['iitax'] - dist_table1['iitax']
dist = pd.concat([dist_table1['iitax'], dist_table2['iitax'], dist_diff], axis=1)
dist.columns = ['iitax1', 'iitax2', 'iitax_diff']
dist

CTC_c was redefined in release 1.0.0

          iitax1    iitax2  iitax_diff
0-10n      2.936     4.895       1.959
0-10z     -0.769    -0.783      -0.014
0-10p     -3.271    -3.336      -0.065
10-20    -19.065   -21.108      -2.043
20-30    -31.955   -36.285      -4.330
30-40    -15.893   -23.182      -7.289
40-50     12.406     1.944     -10.462
50-60     50.817    36.057     -14.760
60-70    107.391    87.430     -19.961
70-80    191.098   162.653     -28.445
80-90    344.402   304.326     -40.076
90-100  1776.715  1698.088     -78.627
ALL     2414.813  2210.699    -204.114
90-95    305.573   281.331     -24.242
95-99    560.237   503.652     -56.585
Top 1%   910.905   913.106       2.201